<%= form_tag '/products' %>
  <label for="name">Product:</label>
  <input type="text" id="product" name="product" /></br>
</br>
  <%= f.submit "add to cart" %>
  <input name="commit" data-disable-with="Save changes" type="submit" value="Save changes" />
<% end %>
