<h1>Add to Cart</h1>

<%= form_tag "/" do %>
  <label>Product:</label>
  <%= text_field_tag :'product' %><br>
<br>
  <%= submit_tag "add to cart" %>
<% end %>

<h3>Cart</h3>
<ul>
<% cart.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>
